.waifu {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 3;
  font-size: 0;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.waifu-tips {
  color: #fff;
  width: 300px;
  transition: 0.5s all;
  bottom: 100%;
  left: -10px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;

  position: absolute;
}
.waifu-tip-item {
  border: 1px solid rgba(255, 137, 255, 0.4);
  border-radius: 12px;
  background-color: rgba(255, 137, 255, 0.2);
  box-shadow: 0 3px 15px 2px rgba(255, 137, 255, 0.4);
  animation-duration: 0.5s;
  animation-name: fadeInRight;
  padding: 7px;
  margin-bottom: 20px;
}
.waifu-tool {
  display: none;
  color: #aaa;
  top: 50px;
  right: 10px;
  position: absolute;
  font-size: 24px;
  line-height: 30px;
}
.waifu:hover .waifu-tool {
  display: block;
}
.waifu-tool span {
  display: block;
  cursor: pointer;
  color: rgba(255, 137, 255, 0.4);
  transition: 0.2s;
}
.waifu-tool span:hover {
  color: rgba(255, 137, 255, 0.8);
}
.waifu #live2d {
  position: relative;
}

@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('flat-ui-icons-regular.eot');
  src: url('flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'),
    url('flat-ui-icons-regular.woff') format('woff'),
    url('flat-ui-icons-regular.ttf') format('truetype'),
    url('flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
}
[class^='fui-'],
[class*='fui-'] {
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fui-cross:before {
  content: '\e609';
}
.fui-info-circle:before {
  content: '\e60f';
}
.fui-photo:before {
  content: '\e62a';
}
.fui-eye:before {
  content: '\e62c';
}
.fui-chat:before {
  content: '\e62d';
}
.fui-home:before {
  content: '\e62e';
}
.fui-user:before {
  content: '\e631';
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
